@model IEnumerable<apprueba.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Menú</h1>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card border-danger mb-3">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Nombre)</div>
                <div class="card-body">
                    
                    <img src="@item.Imagen" class="img-fluid" alt="Product Image">
                </div>
                <div class="card-footer">
                    <!-- Puedes agregar enlaces o botones aquí si es necesario -->
                    <p class="card-text">$ @Html.DisplayFor(modelItem => item.Precio)</p>
                    
                </div>
            </div>

        </div>
    }
</div>
