@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO AL MENU  DIGITAL DE FAST FU</h1>
    
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Productoes" asp-action="InicializarProductos">VER MENU</a>
    </li>
</div>
